<html lang="en">
<head>
<style type="text/css">
    body {
        background-color: #EFDFCE;
    }
    h1 {
        font-size:50px;
        margin: auto;
        width:50%;
    }
    h2 {
        font-size: 30px;
        margin: auto;
        width: 50%;
    }
    p {
        font-size:16px;
        font-family:"Arial";
    }
</style>
</head>
<body>
    <p><a href="/">home</a></p>
    <h1>{{ problem }}</h1>
    <h2>{{ problem.difficulty }}</h2>
    <div>
        <h3>High Score(s): (size/speed)</h3>
        {% if scores %}
        <ul>
            {% for score in scores %}
            <p>{{ score }}</p>
            {% endfor %}
        </ul>
        {% else %}
        <p>None</p>
        {% endif %}
    </div>
    <h3>Description:</h3>
    <div style="padding-left:20px;">
        {% autoescape off %}
        <p>{{ problem.description }}</p>
        {% endautoescape %}
        <h4>Initial Memory: {{ problem.init_memory }}</h4>
    </div>
    <div>
        <h3>Code Input:</h3>
        <form action="{% url 'problem' problem.name_slug %}" method="post">
            {% csrf_token %}
            <ul>
                {{ form.as_ul }}
            </ul>
            <Input type="submit" value="Run Code"/>
        </form>
    </div>
    <p>Note: This parser ignores lines that don't start with valid commands and assumes that no more code comes after the first 'DEFINE' statement. It is also case-sensative. If you create your code using the game, then you can just paste it in without any changes.</p>
</body>