<html lang="en">
<head>
</head>
<body>
    <p><a href="/">home</a></p>
    <h1>{{ problem }} Solution</h1>
    <h3>{{ problem.difficult }}</h3>
    <div>
        <h4>High Scores:</h4>
        <ul>
            {% for score in scores %}
            <p>{{ score }}</p>
            {% endfor %}
        </ul>
    </div>
    <h3>Your score:</h3>
    {% if high_score %}
    <h4>Congratulations! High Score!</h4>
    {% endif %}
    <p>{{ size }}/{{ speed }}</p>
    <h3>Your code:</h3>
    <textarea cols="40" rows="25">{{ code }}</textarea>
</body>