{% extends "problems/base.html" %}

{% block title %}
{{ problem }}
{% endblock %}

{% block style %}
    h2 {
        margin: auto;
        width: 50%;
    }
{% endblock %}

{%block body %}
    <p><a href="{% url 'home' %}">Home</a></p>
    <h1>{{ problem }} Solution</h1>
    <h2>{{ problem.difficulty }}</h2>
    <div>
        <h3>High Score(s): (size/speed)</h3>
        <ul>
            {% for score in scores %}
            <p>{{ score }}</p>
            {% endfor %}
        </ul>
    </div>
    <h3>Your score:</h3>
    <p class="padded">{{ size }}/{{ speed }}</p>
    {% if high_score %}
    <h4>Congratulations! High Score!</h4>
    {% endif %}
    <h3>Your code:</h3>
    <div class="padded">
        <textarea cols="40" rows="{{ full_size }}">{{ code }}</textarea>
    </div>
{% endblock %}